@media (max-width: 1024px) {
    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }
    .wrappter {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

@media (max-width: 991px) {
    h4 {
        font-size: 0.9375rem;
        margin-bottom: 0.625rem;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }
    .text-content {
        width: 100%;
    }

    /* navbar brand */
    .navigation-wrap .navbar-brand img {
        height: 2.8125rem;
    }
    .navbar-toggler i {
        color: var(--white-color);
        line-height: 2;
    }
    .navigation-wrap {
        text-align: right;
        background-color: var(--black-color);
    }
}
